
<!doctype html>
<html lang="ru">
<style>
    .borderf{
    padding: 0px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    }
    .image{
    position: relative;
    margin: 5px;
    float: right;
    width: 640px;
    height: 600px;
    }
    .first{
    width: 1300px;
    height: 600 px;
    text-align: center ;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    color: black;
    }
    .headline{
    position: absolute;
    top: 0px;
    height: 73px;
    background-color: #eeeeee;
    width: 100%;
    z-index: -1;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Название</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Lionroom</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/main" class="nav-link active" aria-current="page">Домой</a></li>
            <li class="nav-item"><a href="/about_us" class="nav-link">О нас</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Контакты</a></li>
            <li class="nav-item"><a href="/faq" class="nav-link">ЧАВо</a></li>
        </ul>
    </header>
</div>
    <div class="headline"></div>
</head>

<body style="background-color:#fbfbfd";>
<h1 align="center" >ул. Фридриха Энгельса, 152</h1>
<div class="first borderf">
    <img src="https://01.img.avito.st/image/1/RAsN4bay6OI7SCrnCdQmQuJC6OStQOo" class="image" style="border: 0px; border-radius: 10px;" >
    <h1 style="margin-top: 10px;" >Коттедж No.1</h1>
    <br>
    <h5>Дом находится не далеко
        от ул.Красная </h5>

<h6 align="left" style="margin: 5px;">
 При входе во двор вы обратите внимание на бассейн, огромную зону под навесом, которая подсвечивается неоновыми лентами ночью.
<br> <br>
 Далее находится не просто мангал с шампурами, а отдельная мангальная зона с просторными столами и отдельной раковиной для комфортного приготовления блюд на огне.
<br> <br>
 Зайдя в дом мы попадаем в зал с очень высокими потолками и достаточным местом для проведения любого мероприятия. Зал оборудован подсветкой, диско-шаром и оборудованием для атмосферной вечеринки.
На стене висит плазма.
<br> <br>
 Далее проходим в кухню, отдельный стол, холодильник, плита, духовка, микроволновка, большой выбор посуды.
<br> <br>
 Затем поднимаемся по шикарной двусторонней лестнице на второй этаж, где находятся 4 спальные комнаты и просторнейший балкон с видом на весь двор.
<br> <br>
 В доме находится 2 сан.узла на 1 и 2 этаже
        <br>

        </h6>
</div>
<div>
    <img src="https://86.img.avito.st/image/1/WzE_xray99gJbzXdBb8eeNBl996fZ_U" style="position: relative; padding: 5px; margin: 5px; width: 415px; height: 300px; top: 650px; margin-left: 305px;">
    <img src="https://47.img.avito.st/image/1/xt2b3LayajStdagxm7-Qin5_ajI7fWg" style="position: relative; padding: 5px; margin: 5px; width: 415px; height: 300px; top: 650px; margin-left: 10px;">
    <img src="https://70.img.avito.st/image/1/X7YeMbay818omDFaLEAa__GS81m-kPE" style="position: relative; padding: 5px; margin: 5px; width: 415px; height: 300px; top: 650px; margin-left: 10px;">
</div>
<div align="center" style="position: relative; padding: 5px; top: 700px; margin-bottom: 500px;">
    <H1>Для заказа пишите в директ инстаграм</H1>
    <h1 style="padding: 80px; font-family: Noto Sans, sans-serif; font-size:4vw;">lionroom.krd</h1>
</div>
</body>
</html>